:root {
  --text-color: #434455;
  --iris: #4d5ae5;
  --navy-blue-dark: #2e2f42;
  --logo-color-light: #f4f4fd;
  --navy-blu: #2e2f42;
  --ocean: #404bbf;
  --slate-text: #434455;
  --hover: #404bbf;
  --color-button: #ffffff;
  --background-button: #4d5ae5;
  --focus: #404bbf;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --grey: #2e2f42;
  --cloud-light: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --white-background-page: #ffffff;
  --dairy: #fcfcfc;
}

/*Base style*/
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--slate-text);
  background: var(--white-background-page);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*Heder style*/
.header {
}
.header-nav {
  background: var(--white-background-page);
  line-height: 1.17em;
}

.header-logo {
  /* Web */

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 1.17;
  text-transform: uppercase;
  color: var(--iris);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.header-logo2 {
  /* Studio */

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 1.17;
  text-transform: uppercase;
  color: var(--navy-blue-dark);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.header-list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(---navy-blue-dark);
}
.header-intem {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navy-blue-dark);
}
.header-link {
  /* Studio */
  width: 48px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navy-blue-dark);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.header-link:hover {
  background-color: var(--hover);
}
.header-link:focus {
  background-color: var(--focus);
}
/*Adress style*/
.address-contacts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate-text);
}
.address-list {
}
.adress-item {
}
.adress-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate-text);
}
.adress-link:hover {
  background-color: var(--ocean);
}
.adress-link:focus {
  background-color: var(--ocean);
}
/*Hero*/
.hero-image {
  background: var(--background-hero);
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-page);
}
/*Buttons*/
.button-list {
  display: flex;
  font-style: normal;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
.btn-item {
  font-style: normal;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background: var(--background-button);
  cursor: pointer;
  letter-spacing: 0.04em;
  color: var(--color-button);
}
.hero-btn:hover {
  background-color: var(--hover);
}
.hero-btn:focus {
  background-color: var(--focus);
}

/*Section style*/
.section {
}
.section-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}
.title-section1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--heading-color);
}
.section-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--address-normal);
  flex: none;
  order: 1;
  flex-grow: 0;
}
/*Footer style*/
.footer {
  background: var(--heading-color);
}
.footer-logo link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: var(--logo-color-web);
}
.footer-logo2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: var(--logo-color-light);
}
.section-text-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--logo-color-light);
}
